body {
    background-image: linear-gradient(#1F2937 35%, white 20%, white, #E5E7EB 40%);
}


body {
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    flex: 1;
}

.logo {
    border: 2px solid white;
    border-radius: 25px;
}

img {
    border: 2px solid black;
    border-radius: 25px;
}

button {
    border: 3px solid lightblue;
    border-radius: 20px;
    max-width: 80px;
    background-color: lightblue;
    color: white;
    padding: 8px;
    margin: 8px;
    margin-left: 0;

}

.header {
    display: flex;
    flex-direction: row;
    gap: 750px;
}

.left {
    display: flex;
    gap: 10px;
}


.introduction { 
    display: flex;
    align-items: center;
    gap: 100px; 
    margin-top: 50px;
}

.hero {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    max-width: 500px;
}

.subtext {
    font-size: 18px;
    color: #E5E7EB;
}

.content {
    margin-top: 100px;
    color: black; 
}

.blockcontain {
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 20px;
    color: black;
}

.blocks {
    text-align: center;
    display: flex;
    gap: 50px;
    text-decoration: none;
    list-style-type: none;
    color: black;
    margin-bottom: 15px;
}

.info {
    max-width: 200px;
    margin-bottom: 70px;
}


.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    max-width: 1000px;
    margin-bottom: 100px;
    margin-top: 50px;
}

.subquote {
    font-style: normal;
}

.sign-up {
    border: 3px solid blue;
    background-color: lightgrey;
    border-radius: 25px;
    max-width: 800px;
    color: black;
    text-align: center;
    padding: 8px;
    margin-bottom: 100px;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: lightcoral;
    font-family: cursive;
    max-width: 1000px;
}
